<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
        <script>
            var agent = navigator.userAgent.toLowerCase();
            if ((navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1)) {
                window.location.href="https://www.google.com/chrome/";
            }

        </script>
    </head>
    <body>
        <div class="global-top">
            <div class="header">
                <div class="wrapper">
                    <div class="top-menu-wrap">
                        {% if session.get("LoginInfo") %}<ul class="right-menu">
                            <li><a>안녕하세요, {{ session['LoginInfo']['profile']['display_name'] }}님!</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                            <li><a href="">마이페이지</a></li>
                            <li><a href="">고객센터</a></li>
                            <li><a href="">도움말</a></li>
                        </ul>{% else %}<ul class="right-menu">
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/register">회원가입</a></li>
                            <li><a href="">고객센터</a></li>
                            <li><a href="">도움말</a></li>
                        </ul>{% endif %}
                        <div class="left-menu">
                            <div class="fb-like fb_iframe_widget" data-href="https://facebook.com/leynuxms" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&app_id=470392843048618&container_width=0&href=https%3A%2F%2Ffacebook.com%2Forbi.kr&layout=button_count&locale=ko_KR&sdk=joey&share=false&show_faces=false&size=small">
                                <span style="vertical-align: bottom; width: 92px; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="logo-wrap">
                        <a class="logo" href="/"><img src="/static/pc/logo.png"></a>
                    </div>
                    <div class="search-wrap">
                        <div class="search">
                            <input class="search-input" type="search" title="글 검색">
                        </div>
                    </div>
                    <div class="header-menu-wrap">
                        <ul class="header-menu-bar">
                            {% for name in board['boards'] %}
                            <li><a href="{{ 'bbs/{}'.format(name) }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="global-body">
            <div class="body">
                <div class="wrapper">
                    <div class="left-wing">
                        <ul class="left-menu">
                            <li><a>총맞은것처럼</a></li>
                            <li><a>우리</a></li>
                            <li><a>가슴이너무 아파</a></li>
                            <li><a>개발한것처럼</a></li>
                            <li><a>어찌이리 가슴아픈지</a></li>
<!--                            요기 개발해야함-->
                        </ul>
                    </div>
                    <div class="content-body">
                        <div class="layout-main">
                            <div class="panel">
                                <div class="author-wrap">
                                    <div class="global-avatar-wrap">
                                        <div class="avatar-border-gold">
                                            <img class="avatar" src="http://cfile9.uf.tistory.com/image/233F604857F3ACD6208420">
                                        </div>
                                    </div>
                                    <p>
                                        <a class="nickname" href="http://www.naver.com">
                                            <span style="color: rgba(187,167,87,.9);">수지</span>
                                        </a>
                                    </p>
                                    <dl>
                                        <dt>2018-06-06 20:24:01</dt>
                                        <dt>조회수 30</dt>
                                        <dt class="like-count">
                                            13
                                        </dt>
                                    </dl>
                                </div>
                                <div class="title-wrap">
                                    <h1 class="title">
                                        제목테스트
                                    </h1>
                                    <div class="canonical">
                                        게시글 주소 : 
                                        <a href="http://www.naver.com" target="_blank">http://www.naver.com</a>
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed diam ante. Donec sollicitudin finibus dui a maximus. Nunc tellus dolor, lacinia eu nulla dapibus, rutrum viverra risus. Sed congue elit vitae elit consequat, eget fermentum augue ultrices. Cras aliquet mauris ut metus lobortis venenatis. Ut sollicitudin ipsum non ex elementum blandit. Suspendisse dignissim ipsum eu placerat scelerisque. Nulla ultricies justo in eros placerat, vel fringilla orci vehicula. Etiam convallis, massa eu elementum pulvinar, eros sapien egestas mi, posuere tincidunt ante neque vel justo. Mauris vulputate eget sem vitae fringilla. Curabitur sagittis nulla vitae feugiat pellentesque. Curabitur vehicula elementum imperdiet. Nulla elementum dolor non leo mollis finibus. Vestibulum ullamcorper, leo et dictum tempus, tellus dolor dignissim urna, eu gravida sapien ex id erat.

Cras lacinia sapien sapien, quis feugiat leo dictum at. Curabitur dignissim, mauris suscipit pretium interdum, ex augue hendrerit turpis, non dignissim justo tellus ut magna. Aliquam maximus finibus turpis nec ullamcorper. Aenean sagittis leo sed eros euismod dignissim. Phasellus dignissim consectetur tortor, sit amet placerat nisi scelerisque et. Vestibulum sit amet ligula suscipit, pulvinar erat quis, volutpat sapien. Nam iaculis felis sed neque auctor iaculis. Vivamus aliquam scelerisque enim id lacinia.

Aliquam velit risus, dapibus eu justo et, blandit dapibus sem. Phasellus aliquet, mi sed scelerisque imperdiet, justo risus tincidunt odio, a vestibulum lorem ligula facilisis arcu. Praesent lacus dui, ornare et sodales id, fermentum eu neque. Fusce id hendrerit est. Sed maximus, ante nec mattis sollicitudin, arcu elit lobortis tellus, ac viverra magna justo ut est. Nam varius faucibus elit, id accumsan risus finibus scelerisque. Integer tristique blandit porta. Praesent ultricies enim vehicula accumsan laoreet. Praesent vestibulum felis ut ipsum sodales, in pretium orci rhoncus. Donec consequat cursus ipsum ac lobortis. Cras et hendrerit risus.

Sed in orci non mauris imperdiet suscipit et nec dolor. Donec pulvinar ultrices nibh non semper. Pellentesque eget tempor arcu. Phasellus quis libero nec ante posuere blandit. Mauris fermentum arcu ac nibh rhoncus, in dapibus sem porttitor. Aliquam consequat ut risus a imperdiet. Suspendisse potenti. Donec nulla lectus, iaculis a nibh a, varius sollicitudin augue. Mauris a nunc ut enim semper maximus in ut erat. Etiam ultricies viverra vestibulum. Nulla facilisi. Sed id urna sed magna viverra tristique ac ac ipsum. In ligula nibh, consectetur eu fringilla ut, lobortis sed augue. Nunc egestas urna vitae neque auctor, non mollis ex condimentum. Aenean quis semper ante. Maecenas finibus efficitur risus, vel tincidunt neque sagittis eget.

Quisque sit amet varius est. Nam eget libero eu augue euismod ullamcorper interdum ac dolor. Ut sem dui, finibus sit amet viverra eu, condimentum vel neque. Phasellus ut libero auctor, fermentum urna quis, molestie quam. Nullam ante turpis, vehicula at interdum non, feugiat ut ex. Pellentesque finibus diam vel metus porttitor, sit amet luctus diam malesuada. Mauris varius, erat non feugiat vehicula, arcu magna porta velit, ut aliquet enim velit vel justo. Vivamus et pulvinar turpis.</p>
                                </div>
                                <div class="tag-wrap">
                                    <ul class="tag-list">
                                        <li>
                                            <a>tag : </a>
                                        </li>
                                        <li>
                                            <a href="http://www.naver.com">#아 귀찮다</a>
                                        </li>
                                        <li>
                                            <a href="http://www.naver.com">#웹개발은</a>
                                        </li>
                                        <li>
                                            <a href="http://www.naver.com">#언제나</a>
                                        </li>
                                        <li>
                                            <a href="http://www.naver.com">#귀찮다</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="author-action-wrap">
                                    <a class="nickname" href="http://www.naver.com">
                                        <span style="color: rgba(187,167,87,.9);">수지</span>
                                    </a>
                                    <p class="send-memo">
                                        <a href="http://www.naver.com" target="_blank">
                                            쪽지보내기
                                        </a>
                                    </p>
                                    <ul class="recent-post">
                                        <li class="more">
                                            <a href="http://www.naver.com">
                                                최근 게시글 · 더보기
                                            </a>
                                        </li>
                                        <li>
                                            <span class="time">06/07 03:30</span>
                                            [수지] 어디야
                                        </li>
                                        <li>
                                            <span class="time">06/06 12:30</span>
                                            [수지] 집이야
                                        </li>
                                        <li>
                                            <span class="time">06/05 08:20</span>
                                            [수지] 안바쁨
                                        </li>
                                        <li>
                                            <span class="time">06/04 17:23</span>
                                            [수지] 나와바
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="comment-wrap">
                                    <ul class="comment-list">
                                        <li class="comment" id="">
                                            <div class="comment-box">
                                                <div class="depth">
                                                    <div class="global-avatar-wrap">
                                                        <div class="avatar-border-red">
                                                            <img class="avatar round" src="http://cfile9.uf.tistory.com/image/233F604857F3ACD6208420">
                                                        </div>
                                                    </div>
                                                    <div class="meta-wrap">
                                                        <a class="nickname" href="http://www.naver.com">
                                                            <span style="color: red;">ADMIN</span>
                                                            2시간전
                                                        </a>
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-text">
                                                            <p>ㅌㅔ스트 댓글 내용</p>
                                                        </div>
                                                    </div>
                                                    <div class="comment-action">
                                                        <a class="comment-like">
                                                            좋아요
                                                            <em class="count">0</em>
                                                        </a>
                                                        <a>답글 달기</a>
                                                        <a>신고</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="comment" id="">
                                            <div class="comment-box">
                                                <div class="depth">
                                                    <div class="global-avatar-wrap">
                                                        <div class="avatar-border-silver">
                                                            <img class="avatar round" src="http://mblogthumb3.phinf.naver.net/MjAxODAxMjRfNjAg/MDAxNTE2NzU4NDA0ODMw.5Cm2b27f7DZCpsMdWahoWmmc5HkiFRaMxgH6rJyCm28g.EDg309oOZ1l7am5V_90DoDo61hKJlwt60ZdjQHYNpMgg.JPEG.okn127/%E3%85%87%E3%85%80%E3%85%87%E3%85%8D.jpg?type=w800">
                                                        </div>
                                                    </div>
                                                    <div class="meta-wrap">
                                                        <a class="nickname" href="http://www.naver.com">
                                                            <span style="color: black;">제니</span>
                                                            1시간전
                                                        </a>
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-text">
                                                            <p>ㅌㅔ스트 댓글 내용</p>
                                                        </div>
                                                    </div>
                                                    <div class="comment-action">
                                                        <a class="comment-like">
                                                            좋아요
                                                            <em class="count">0</em>
                                                        </a>
                                                        <a>답글 달기</a>
                                                        <a>신고</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="layout-board-list">
                                <div class="panel">
                                    <ul class="post-list">
                                        <li class="notice">
                                            <div class="author">
                                                <div class="author-text">
                                                    <a class="nickname">
                                                        <span style="color:black;">운영자</span>
                                                    </a>
                                                </div>
                                                <div class="list-text">
                                                    <p class="title">
                                                        <a class="tag" href="">#공지</a>
                                                        <a class="">asdfasdf</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="author">
                                                <div class="author-text">
                                                    <a class="nickname">
                                                        봄하나
                                                    </a>                                       
                                                </div>
                                            </div>
                                            <div class="list-text">
                                                <div class="title">
                                                    <a href="">고덕현은 무엇인가.</a>
                                                    <span>5</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="author">
                                                <div class="author-text">
                                                    <a class="nickname">
                                                        가나다
                                                    </a>                                       
                                                </div>
                                            </div>
                                            <div class="list-text">
                                                <div class="title">
                                                    <a href="">고덕현은 무엇인가.</a>
                                                    <span>5</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-wing">
                        <div class="member-box">
                            <div class="member-anonymous">
                                <a class="register">Edit Life <strong>{{ board['members'] + 1 }}</strong>번째 회원가입</a>
                                <a class="login" href="/login">
                                    <strong>
                                        Edit Life
                                    </strong>
                                    로그인
                                </a>
                            </div>
                        </div>
                        <div class="recommend-post">
                            <div class="panel">
                                <div class="panel-head">
                                    <div class="block block bleu_de_france">
                                        <h3>댓글이 많은 글</h3>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <ul class="simple">
                                        {% for title, board, no, comments in board['most_comments'] %}
                                        <li><a class="title" href="{{ 'bbs/{}/{}'.format(board, no) }}">{{ title }}<span>{{ comments }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ad-wrap">
                            <div class="ad">
                                <a>AD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="w1000">
                <dl class="links">
                    <dt><a href="https://discord.gg/eJVytb5"><h5>DISCORD</h5>is our club</a></dt>
                    <dt><a href="https://tgd.kr/"><h5>트게더</h5>트수들</a></dt>
                </dl>
                <ul class="footer-menu">
                    <li><a>이용약관</a></li>
                    <li><a>개인정보 취급방침</a></li>
                    <li><a>청소년 보호정책</a></li>
                    <li><a>이메일 주소 무단 수집 거부</a></li>
                    <li><a>고객센터</a></li>
                </ul>
            </div>
            <p class="company-info"> 대표이사 : 삼만원 / 주소 : http://127.0.0.1 / 전화번호 : 010-1234-5678</p>
            <p class="copyright">© 2018-2018 </p>
        </div>

    </body>

</html>