<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티" />
    <meta name="publisher" content="EL : Edit Life" />
    <meta name="author" content="EL : Edit Life" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL" />
    <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티" />
    <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티" />
    <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티" />
    <meta property="og:type" content="" />
    <!-- <meta property="og:image" content="Site Representitive image" /> -->
    <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다." />
    <!-- <meta property="og:url" content="Site Domain" /> -->

    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
<!--
{{ request.user_agent.platform }}
<header class="pc header">

</header>

<header class="mobile header">

</header> -->
<div class="page fullscreen intro">
    <div class="center">
        <video id="introduce" autoplay muted>
            <source src="media/ryu.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="page fullscreen">
    <label>여기에 커뮤니티</label>
</div>
<div class="footer">
    <label></label>
</div>

</body>
</html>