<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
        <script>
            var agent = navigator.userAgent.toLowerCase();
            if ((navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1)) {
                window.location.href="https://www.google.com/chrome/";
            }

        </script>
    </head>
    <body>
        <div class="global-top">
            <div class="header">
                <div class="wrapper">
                    <div class="top-menu-wrap">
                        <ul class="right-menu">
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/login">추가할게</a></li>
                            <li><a href="/login">또뭐가있을까</a></li>
                            <li><a href="/login">모르게따</a></li>
                        </ul>
                        <div class="left-menu">
                            <div class="fb-like fb_iframe_widget" data-href="https://facebook.com/leynuxms" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&app_id=470392843048618&container_width=0&href=https%3A%2F%2Ffacebook.com%2Forbi.kr&layout=button_count&locale=ko_KR&sdk=joey&share=false&show_faces=false&size=small">
                                <span style="vertical-align: bottom; width: 92px; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="logo-wrap">
                        <a class="logo" href="/"><img src="/static/pc/logo.png"></a>
                    </div>
                    <div class="search-wrap">
                        <div class="search">
                            <input class="search-input" type="search" title="글 검색">
                        </div>
                    </div>
                    <div class="header-menu-wrap">
                        <ul class="header-menu-bar">
                            <li><a>시그널을</a></li>
                            <li><a>보내</a></li>
                            <li><a>사인을</a></li>
                            <li><a>보내</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="global-body">
            <div class="body">
                <div class="wrapper">
                    <div class="left-wing">
                        <ul class="left-menu">
                            <li><a>총맞은것처럼</a></li>
                            <li><a>우리</a></li>
                            <li><a>가슴이너무 아파</a></li>
                            <li><a>개발한것처럼</a></li>
                            <li><a>어찌이리 가슴아픈지</a></li>
                        </ul>
                    </div>
                    <div class="content-body">
                        <div class="layout-main">
                            <div class="ad-wrap">
<!--                                ad-->
                            </div>
                            <div class="main-post-wrap">
                                <div class="row">
                                    <div class="col-50">
                                        <div class="panel">
                                            <div class="panel-head">
                                                <a href="https://www.naver.com" class="block brink-pink">
                                                    <h3>김하온</h3>
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="normal">
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">붕붕
                                                                <span>55</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">바코드<span>25</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">어린왕자<span>10</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Adios<span>3</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Graduation<span>55</span></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="panel">
                                            <div class="panel-head">
                                                <a href="https://www.naver.com" class="block wild-willow">
                                                    <h3>빈첸</h3>
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="normal">
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">바코드<span>123</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Sinking down with u<span>90</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">그대들은 어떤 기분이신가요<span>170</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">전혀<span>60</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">타는목마름으로<span>30</span></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-head">
                                    <a href="https://youtu.be/q-8LQkH02Qo" class="block wild-willow">
                                        <h3>대표영상</h3>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <iframe type="text/html" allowtransparency="true" frameborder="0" width="670" height="480" src="http://www.youtube.com/embed/q-8LQkH02Qo?controls=1&amp;rel=0&amp;vq=hd1080&amp;autohide=1"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-wing">
                        <div class="member-box">
                            <div class="member-anonymous">
                                <a class="register">Edit Life <strong>1</strong>번째 회원가입</a>
                                <a class="login" href="/login">
                                    <strong>
                                        Edit Life
                                    </strong>
                                    로그인
                                </a>
                            </div>
                        </div>
                        <div class="recommend-post">
                            <div class="panel">
                                <div class="panel-head">
                                    <div class="block block bleu_de_france">
                                        <h3>댓글이 많은 글</h3>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <ul class="simple">
                                        <li><a class="title">하기싫습니다.<span>123</span></a></li>
                                        <li><a class="title">질문받습니다.<span>123</span></a></li>
                                        <li><a class="title">삑그리고다음<span>123</span></a></li>
                                        <li><a class="title">삑그리고다음<span>123</span></a></li>
                                        <li><a class="title">영수증은챙겨둬 우리추억을 위해<span>123</span></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ad-wrap">
                            <div class="ad">
                                <a>AD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="w1000">
                <dl class="links">
                    <dt><a href="https://discord.gg/eJVytb5"><h5>DISCORD</h5>is our club</a></dt>
                    <dt><a href="https://tgd.kr/"><h5>트게더</h5>트수들</a></dt>
                </dl>
                <ul class="footer-menu">
                    <li><a>이용약관</a></li>
                    <li><a>개인정보 취급방침</a></li>
                    <li><a>청소년 보호정책</a></li>
                    <li><a>이메일 주소 무단 수집 거부</a></li>
                    <li><a>고객센터</a></li>
                </ul>
            </div>
            <p class="copyright">© 2000-2018 Minsung</p>
        </div>
    
    </body>

</html>