<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="global-top">
            <div class="header">
                <div class="wrapper">
                    <div class="top-menu-wrap">
                        <ul class="right-menu">
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/login">추가할게</a></li>
                            <li><a href="/login">또뭐가있을까</a></li>
                            <li><a href="/login">모르게따</a></li>
                        </ul>
                        <div class="left-menu">
                            <div class="fb-like fb_iframe_widget" data-href="https://facebook.com/leynuxms" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&app_id=470392843048618&container_width=0&href=https%3A%2F%2Ffacebook.com%2Forbi.kr&layout=button_count&locale=ko_KR&sdk=joey&share=false&show_faces=false&size=small">
                                <span style="vertical-align: bottom; width: 92px; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="logo-wrap">
                        <a class="logo" href="/"><img src="/static/pc/logo.png"></a>
                    </div>
                    <div class="search-wrap">
                        <div class="search">
                            <input class="search-input" type="search" title="글 검색">
                        </div>
                    </div>
                    <div class="header-menu-wrap">
                        <ul class="header-menu-bar">
                            <li><a>시그널을</a></li>
                            <li><a>보내</a></li>
                            <li><a>사인을</a></li>
                            <li><a>보내</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                            <li><a>찌릿</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="global-body">
            <div class="body">
                <div class="wrapper">
                    <div class="left-wing">
                        <ul class="left-menu">
                            <li><a>총맞은것처럼</a></li>
                            <li><a>우리</a></li>
                            <li><a>가슴이너무 아파</a></li>
                            <li><a>개발한것처럼</a></li>
                            <li><a>어찌이리 가슴아픈지</a></li>
                        </ul>
                    </div>
                    <div class="content-body">
                        <div class="layout-main">
                            <div class="ad-wrap">
<!--                                ad-->
                            </div>
                            <div class="main-post-wrap">
                                <div class="row">
                                    <div class="col-50">
                                        <div class="panel">
                                            <div class="panel-head">
                                                <a href="https://www.naver.com" class="block brink-pink">
                                                    <h3>김하온</h3>
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="normal">
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">붕붕</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">바코드</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">어린왕자</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Adios</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Graduation</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="panel">
                                            <div class="panel-head">
                                                <a href="https://www.naver.com" class="block wild-willow">
                                                    <h3>빈첸</h3>
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="normal">
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">바코드</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">Sinking down with u</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">그대들은 어떤 기분이신가요</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">전혀</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="text-wrap">
                                                            <a href="https://www.naver.com" class="title">타는목마름으로</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lecture-recent-many-view">
                                <div class="panel">
                                    <div class="panel-head">
                                        <a href="http://www.naver.com" class="block bleu_de_france">
                                            <h3>최근 많이본 강의 영상</h3>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="slide-position">
                                            <div class="slides slick-initialized slick-slider">
                                                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style>Previous</button>
                                                <div class="slick-list draggable">
                                                    <div class="slick-track" style="opacity: 1; width: 4396px; transform: translate3d(-628px,0px,0px);">
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-wing">
                        <div class="member-box">
                            <div class="member-anonymous">
                                <a class="register">Edit Life <strong>1</strong>번째 회원가입</a>
                                <a class="login" href="/login">
                                    <strong>
                                        Edit Life
                                    </strong>
                                    로그인
                                </a>
                            </div>
                        </div>
                        <div class="recommend-box"></div>
                        <div class="ad-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    
    </body>

</html>