<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
    </head>
    <body>
        <div class="global-body">
            <div class="body">
                <div class="wrapper">
                    <div class="left-wing">
                        
                    </div>
                    <div class="content-body">
                        <div class=""
                    </div>
                    <div class="right-wing"></div>
                </div>
            </div>
        </div>
    
    </body>

</html>