<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 회원가입</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/register.css"/>
        <script>
            $(document).ready(function(){
                $(".form-open").click(function(){
                    $(".form-open").addClass("close");
                    $(".terms-style").addClass("open");
                    $(".close").ready(function(){
                        $(".close").click(function(){
                            $(".form-open, .close").removeClass("close");
                            $(".terms-style, .open").removeClass("open");
                        });
                    });
                });
            });
        </script>
    </head>
    <body class="layout-register">
        <div class="bg">
            <h1>회원 가입</h1>
            <ol class="flash">
                
            </ol>
        </div>
        <div class="container">
            <div class="content">
                <div class="join-content">
                    <div class="join-form">
                        <div class="terms">
                            <div class="register-tapmenu">
                                <div class="register-tap">
                                    <span>STEP 1.</span>
                                    약관동의
                                </div>
                                <div class="register-tap">
                                    <span>STEP 2.</span>
                                    본인인증
                                </div>
                                <div class="register-tap current">
                                    <span>STEP 3.</span>
                                    정보입력
                                </div>
                                <div class="register-tap">
                                    <span>STEP 4.</span>
                                    가입완료
                                </div>
                            </div>
                            <h3 class="form-title">기본정보입력<span class="title-tiny">*는 필수 입력 항목입니다.</span></h3>
                            <form id="infoForm">
                                <div class="form topline">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>아이디</th>
                                                <td>
                                                    <input type="text" autocapitalized="off" value name="userId" data-valid="true">
                                                    <span class="tip">영문, 숫자, _만 입력 가능 / 최소 4자 이상 입력하세요.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>비밀번호</th>
                                                <td>
                                                    <input type="password" value name="userPassword">
                                                    <span class="tip">영문, 숫자, 특수무기호 혼합 사용 / 최소 4자 이상 입력하세요.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>비밀번호 확인</th>
                                                <td>
                                                    <input type="password" value name="userRePassword">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>닉네임</th>
                                                <td>
                                                    <input type="text" value name="nickname" data-valid="true">
                                                    <span class="tip">별명은 최대 한글6자, 영문12자 입력</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이메일</th>
                                                <td>
                                                    <input type="email" value name="email" data-valid="true">
                                                    <span class="tip">이메일은 반드시 정확하게 입력하셔야합니다.<br>가입안내, 비밀번호 분실 또는 수정 등 활동에 필수적인 메일을 발송합니다.</span>
                                                    <label class="agree" for="newsletter-check">
                                                        <input type="checkbox" id="newsletter-check" name="adsEmailYN" checked>
                                                        <span class="checkbox"></span>
                                                        공지 및 정보 메일을 수신합니다.
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-button">
                                    <button type="button" class="button-agree" onclick="">회원가입</button>
                                    <button type="button" class="button-cancel" onclick="">취소</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>