<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 회원가입</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/register.css"/>
        <script>
            $(document).ready(function(){
                $(".form-open").click(function(){
                    $(".form-open").addClass("close");
                    $(".terms-style").addClass("open");
                });
                $(".close").click(function(){
                    alert("asdf")
                });
            });
        </script>
    </head>
    <body class="layout-register">
        <div class="bg">
            <h1>회원 가입</h1>
            <ol class="flash">
                
            </ol>
        </div>
        <div class="container">
            <div class="content">
                <div class="join-content">
                    <div class="join-form">
                        <div class="terms">
                            <h3 class="form-title">회원가입약관</h3>
                            <div class="form-terms terms-style">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

                            </div>
                            <a class="form-open"></a>
                            <div class="form-agree">
                                <label>
                                    <input type="checkbox" id="terms-agree">
                                    <span class="checkbox"></span>
                                    <strong>회원가입약관을 읽었으며 내용에 동의합니다.</strong>
                                </label>
                            </div>
                            <h3 class="form-title">개인정보처리방침</h3>
                            <div class="terms-style">
                            <h3>1. 개인정보의 수집 및 이용목적</h3>
                                <div class="form-table">
                                    <table class="fix">
                                        <colgroup>
                                            <col width="150">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>아이디, 비밀번호, 별명</th>
                                                <td class="left">
                                                    서비스 이용에 따른 본인식별, 중복가입 확인, 부정이용 방지
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이메일 주소</th>
                                                <td class="left">
                                                    전체메일발송, 비밀번호 분실시 필요한 정보제공 및 민원처리 등 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>SNS 정보</th>
                                                <td class="left">
                                                    회원이 자신의 홈페이지주소를 공개하고자 할 경우
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이용자의 IP주소, 방문일시</th>
                                                <td class="left">
                                                    불량회원의 부정 이용방지와 비인가 사용방지, 통계학적 분석
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>그 외 선택사항</th>
                                                <td class="left">
                                                    개인 맞춤 서비스 제공
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h3>2. 수집하는 개인정보 항목</h3>
                                    <ul class="b">
                                        <li>필수적으로는 <strong>아이디,비밀번호,별명,이메일</strong>을 수집합니다.</li>
                                        <li>선택정보를 입력하지 않은 경우에도 서비스 이용의 제한은 없습니다.</li>
                                        <li>서비스 이용과정에서 IP 주소, 쿠키, 서비스 이용기록, 불량 이용 기록 정보들이 자동으로 생성되어 수집될 수 있습니다.</li>
                                    </ul>
                                    <h3>3. 개인정보 수집방법</h3>
                                    <p>홈페이지 회원가입, 서비스 이용 신청, 회원정보 수정</p>
                                    <br>
                                    <h3>4. 개인정보의 보유 및 이용기간</h3>
                                    <div class="form-table">
                                        <table>
                                            <colgroup>
                                                <col width="150">
                                                <col>
                                                <col width="80">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <td>보존항목</td>
                                                    <td>보존근거</td>
                                                    <td>보존기간</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>별명, 비밀번호, 이름, 이메일주소,전화번호</td>
                                                <td class="left">빈번한 가입과 탈퇴를 반복하는 악의적 이용 방지, 서비스 이용의 혼선 방지</td>
                                                <td>30일</td>
                                                </tr>
                                                <tr>
                                                <td>회원조치이력</td>
                                                <td class="left">회원의 불량 이용에 대한 조치이력 보관으로 악의적 이용의 재발 방지</td>
                                                <td>영구</td>
                                                </tr>
                                                <tr>
                                                <td>아이디</td>
                                                <td class="left">ID를 기준으로 설계되어 있어 탈퇴 후 타인이 동일한 ID로 가입할 경우 서비스 이용의 혼선 방지</td>
                                                <td>영구</td>
                                                </tr>
                                                <tr>
                                                <td>DI 값 (인증고유번호)</td>
                                                <td class="left">재가입 회원의 징계 이력 관리</td>
                                                <td>영구</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-agree">
                                        <label>
                                            <input type="checkbox" id="terms-agree">
                                            <span class="checkbox"></span>
                                            <strong>회원가입약관을 읽었으며 내용에 동의합니다.</strong>
                                        </label>
                                    </div>
                                    <div class="form-button">
                                        <button type="button" class="button-agree" onclick="">동의합니다.</button>
                                        <button type="button" class="button-cancel" onclick="">동의하지 않습니다.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>