<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta name="publisher" content="EL : Edit Life"/>
        <meta name="author" content="EL : Edit Life"/>
        <meta name="robots" content="index,follow"/>
        <meta name="keywords" content="트위치, 영상편집, 유튜브, 크리에이터, 트수만성, 에딧라이프, Edit Life, EL"/>
        <meta name="description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:title" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:site_name" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:author" content="EL : Edit Life | 트위치&유튜버 크리에이터 커뮤니티"/>
        <meta property="og:type" content=""/>
        <!-- <meta property="og:image" content="Site Representitive image" /> -->
        <meta property="og:description" content="유튜브와 트위치 플랫폼에서 활동하는 크레이어터 및 스트리머분들과 영상편집을 하시는 분들의 커뮤니티입니다."/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/df655a799cdbfe977ae05f6cf484e77ec76b3312/nanumsquare.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script src="../root/src/dist/tui-editor-Editor.js"></script>
        
        <script src="../root/src/dist/tui-editor-Viewer.js"></script>
        <link rel="stylesheet" href="../root/src/dist/tui-editor-contents.css">
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
        <script>
            require('codemirror/lib/codemirror.css') // codemirror
            require('tui-editor/dist/tui-editor.css'); // editor ui
            require('tui-editor/dist/tui-editor-contents.css'); // editor content
            require('highlight.js/styles/github.css'); // code block highlight

            var Editor = require('tui-editor');

            var editor = new Editor({
                el: document.querySelector('#editSection'),
                initialEditType: 'markdown',
                previewStyle: 'vertical',
                height: '300px'
            });
        </script>
    </head>
    <body>
        <div class="code-html">
            <div id="editSection">
                <script src="../root/src/dist/tui-editor-Editor-all.js"></script>
                <link rel="stylesheet" href="../root/src/dist/tui-editor.css">
                <link rel="stylesheet" href="../root/src/dist/tui-editor-contents.css">
                <link rel="stylesheet" href="../root/src/">
                <link rel="stylesheet" href="../root/src/dist/tui-editor-contents.css">
            </div>
        </div>
            
            <div id="editSection"></div>

    </body>

</html>