* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: #f2f4f8;
    color: black;
    min-width: 1280px;
}

a{
    color: inherit;
}

div{
    display: block;
}

a, abbr{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul,menu,dir{
    display: block;
    list-style-type: disc;
    
}

dl{
    display: block;
}

li {
    display: list-item;
}

strong, b{
    font-weight: bold;
}

img {
    vertical-align: top;
    border: 0;
}

button {
    margin: 0;
    padding: 0;
}

form{
    display: block;
    margin-top: 0em;
}

input, select, button, textarea{
    font: inherit;
    color: black;
    outline: 0;
}

.body{
    padding-bottom: 60px;
}

.fa{
    display: inline-block;
    text-rendering: auto;
    
}

.wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

.global-top {
    background-color: white;
    top: 70px;
    left: 0;
    right: 0;
    min-width: 1280;
    z-index: 500;
}

.global-top .header{
    background-color: white;
    border-bottom: 2px solid #FFEB46;
    padding-bottom: 20px;
}

.global-top .header .top-menu-wrap .right-menu{
    float: right;
    text-align: right;
    margin-left: 15px;
    font-size: 0px;
}
.global-top .header .top-menu-wrap .right-menu li{
    display: inline-block;
}
.global-top .header .top-menu-wrap .right-menu li:after{
    display: inline-block;
    content: "|";
    padding: 0 8px;
    font-size: 12px;
    color: #eee;
}
.global-top .header .top-menu-wrap .right-menu li:last-child:after {
    content: "";
}

.global-top .header .top-menu-wrap .right-menu li a{
    font-size: 12px;
    line-height: 40px;
    color: black;
}


.global-top .header .top-menu-wrap .left-menu{
    float: right;
    line-height: 30px;
}
.global-top .header .top-menu-wrap .left-menu span {
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-right: 10px;
}

.global-top .header .top-menu-wrap:after, .global-top .header:after{
    content: "";
    display: block;
    clear: both;
}

.global-top .header .logo-wrap{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.global-top .header .logo-wrap a{
    display: block;
}

.global-top .header .logo-wrap a img{
    width: 190px;
}

.global-top .header .search-wrap{
    position: absolute;
    bottom: 10px;
    left: 240px;
    width: 240px;
}

.global-top .header .search-wrap .search{
    position: relative;
    border: 1px solid #eee;
}
.global-top .header .search-wrap .search .fa{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #495baa;
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
    line-height: 34px;
}

.global-top .header .search-wrap .search .search-input{
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 8px 40px 8px 16px;
    height: 32px;
    font-size: 14px;
    color: black;
}

.global-top .header .header-menu-bar{
    list-style: none;
    float: right;
    overflow: hidden;
    height: 40px;
    font-size: 0px;
}

.global-top .header .header-menu-bar li{
    display: inline-block;
}

.global-top .header .header-menu-bar li a{
    display: block;
    padding: 12px 6px;
    font-size: 15px;
    font-weight: 900;
    color: black;
    letter-spacing: -1px;
}

.global-body{
    margin-top: 20px;
}

.body .left-wing{
    float: left;
    width: 190px;
    margin-right: 10px;
    color: black;
}

.body .left-wing .left-menu{
    list-style: none;
    line-height: 1.9;
    font-size: 12px;
}
.body .left-wing .left-menu a{
    display: block;
    padding: 0 10px;
    font-weight: 500;
    transition: background-color .5s ease;
    text-decoration: none;
}

.body .content-body{
    float: left;
    width: 670px;
    margin-right: 10px;
}

.body .content-body .row:after{
    content: "";
    display: block;
    clear: both;
}

.body .content-body .row .col-50{
    float: left;
    width: 330px;
}

.body .content-body .row .col-50:first-child{
    margin-right: 10px;
}

.body .panel{
    border: 1px solid #dde3ec;
    background-color: white;
    margin-top: 10px;
}

.body .panel .panel-head{
    background-color: #f7f8fa;
    border-bottom: 1px solid #eee;
    
}
.body .panel .panel-head>a:after{
    content: "";
    position: absolute;
    top: 12px;
    right: 15px;
    display: inline-block;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 46px 18px;
    vertical-align: top;
    background-position: -30px 0;
    width: 16px;
    height: 16px;
}

.body .panel .panel-head .block{
    position: relative;
    display: block;
    padding: 12px 15px;
}

.body .panel .panel-head .block h3{
    font-size: 14px;
    color: black;
    line-height: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body .panel .panel-head .block.brink-pink {
    border-left: 3px solid #fa5f7e;
}

.body .panel .panel-head .block.wild-willow{
    border-left: 3px solid #a7d269;
}
.body .panel .panel-head .block.bleu_de_france{
    border-left: 3px solid #3f84ff;
}

.body .panel .panel-body{
    position: relative;
    background-color: white;
}
.body .panel .panel-body ul.normal{
    list-style: none;
    line-height: 20px;
}

.body .panel .panel-body ul.normal li{
    padding: 4px 15px;
    position: relative;
    font-size: 0;
}

.body .panel .panel-body ul.normal li .text-wrap{
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 6px 0;
}
.body .panel .panel-body ul.normal li .text-wrap .title{
    display: block;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title span{
    font-size: 11px;
    color:#F7683A;
    padding-left: 5px;
}
.body .panel .panel-body ul.simple{
    padding: 15px 25px;
    list-style: none;
}

.body .panel .panel-body ul.simple li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.2;
}
.body .panel .panel-body ul.simple li .title {
    color: black;
    
}

.right-wing{
    float:left;
    width: 320px;
}
.body .right-wing .member-box{
    border: 1px solid #dde3ec;
    background-color: #fbfbfb;
    margin-bottom: 10px;
}
.body .right-wing .member-box .member-anonymous .register{
    line-height: 40px;
    padding: 0px 15px;
    color: #444;
}
.body .right-wing .member-box .member-anonymous .login{
    display: block;
    margin: 0px 15px 15px;
    padding: 15px 0;
    border: 1px solid #ddd;
    background-color: ##f5f7f9;
    font-size: 14px;
    text-align: center;
}

.body .right-wing .member-box .member-anonymous .login strong{
    color: #495baa;
}

.body .right-wing .recommend-post{
    margin-bottom: 10px;
}

.ad-wrap .ad{
    width: 320px;
    height: 320px;
    background-color: white;
}

.footer{
    text-align: center;
    background-color: #111a23;
    color: white;
    padding: 40px 20px;
}

.footer .w1000{
    font-size: 11px;
    width: 1000px;
    margin: 0 auto;
}
.footer .links{
    margin-bottom: 20px;
}

.footer .links dt{
    text-align: left;
    display: inline-block;
}

.footer .links dt a{
    display: block;
    color: #999;
    padding: 0 20px;
}
.footer .links dt a h5{
    color: #ddd;
    font-size: 12px;
    font-weight: 400;
}
.footer .footer-menu{
    list-style: none;
    margin-bottom: 20px;
}
.footer .footer-menu li{
    font-size: 12px;
    display: inline-block;
}
.footer .footer-menu li a{
    display: inline-block;
    padding: 4px 0;
    color: #ccc;
}

.footer .footer-menu li a:after{
    content: "|";
    padding: 0 6px;
    color: #666;
}
.footer .footer-menu li a:after:last-child {
    content: "";
}
.footer .company-info{
    color: #bbb;
    line-height: 1.5;
    margin-bottom: 10px;
}

/*login*/

.layout-login, .layout-register{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-login .bg, .layout-register .bg{
    position: relative;
    background: linear-gradient(135deg, #688fed 0%, #475ca9 45%, #688fed 100%);
    padding: 40px 20px 60px;
}

.layout-login .form-wrap{
    position: relative;
    z-index: 2;
    max-width: 300px;
    margin: -40px auto 30px;
    padding: 40px 20px;
    border-radius: 10px;
    background-color:white;
    box-shadow: 0 0 tpx 3px rgba(80,80,80,0.1);
}

.layout-login .form-wrap .input-wrap{
    position: relative;
    display: block;
    border-radius: 40px;
    padding: 0 30px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

.layout-login .form-wrap .input-wrap input{
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    padding: 10px 20px 10px 0px;
}

.layout-login .form-wrap .submit{
    display: block;
    width: 100%;
    color: white;
    padding: 12px;
    border-radius: 50px;
    background: linear-gradient(135deg, #688fed 0%, #475ca9 45%, #688fed 100%);
    border: 0;
    cursor: pointer;
}

.layout-login .other-navigation{
    color: #495baa;
    list-style: none;
    text-align: center;
    margin-top: 30px;
    font-size: 0;
}

.layout-login .other-navigation li{
    display: inline-block;
    margin-right: 5px;
}
.layout-login .other-navigation:last-child{
    margin-right: 0;
}

.layout-login .other-navigation li a{
    font-weight: 400;
    text-decoration: none;
    font-size: 11px;
}

.layout-login .other-navigation li:after{
    display: inline-block;
    content: "|";
    padding: 0 8px;
    font-size: 12px;
    color: #eee;
}
.layout-login .other-navigation li:last-child:after {
    content: "";
}

.layout-register .bg h1{
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 20px 0;
    word-break: keep-all;
    word-wrap: break-word;
}


.flash{
    list-style: none;
    margin: 30px auto 0;
    max-width: 320px;
}

.container{
    position: relative;
    width: 768;
    min-width: 460;
    margin: 0 auto;
}


.register-tapmenu{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
    border-bottom: 1px solid #666;
}
.register-tapmenu .register-tap{
    width: 25%;
    font-size: 14px;
    color: #999;
    text-align: center;
    padding: 15px 0; 
}
.register-tapmenu .register-tap span{
    font-size: 12px;
    opacity: .7;
    padding: 0 5px 0 0;
}
.register-tapmenu .register-tap .current{
    color: #fff;
    background-color: #666;
}

.panel{
    margin-bottom: 20px;
}
.author-wrap{
    position: relative;
    padding: 20px 20px 20px 70px;
    line-height: 20px;
}
.global-avatar-wrap{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.avatar-border-gold{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    animation: twinkle infinite 2s;
    box-shadow: inset 0 0 0 2px rgba(187,167,87,.9)!important;
}
.avatar-border-silver{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    animation: twinkle infinite 2s;
    box-shadow: inset 0 0 0 2px silver!important;
}
.avatar-border-red{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    animation: twinkle infinite 2s;
    box-shadow: inset 0 0 0 2px red!important;
}

.avatar{
    position: relative;
    max-width: 100%;
    width: 100;
    height: 100;
    padding: 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.nickname{
    font-weight: 700;
    line-height: 20px;
}
.author-wrap dl dt{
    display: inline-block;
    color: gray;
    font-size: 14px;
    padding-right: 10px;
}
.author-wrap dl dt.like-count{
    color: #00a473;
}
.title-wrap{
    padding: 0 0 10px;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}
.title-wrap h1.title{
    color: #444;
    font-size: 20px;
    word-break: break-all;
    font-weight: 700;
    padding-bottom: 10px;
}

.title-wrap .canonical{
    color: #666;
    cursor: pointer;
    display: inline-block;
}
.content-wrap{
    position: relative;
    font-weight: 400;
    line-height: 1.56;
    padding: 20px 20px 120px;
    font-size: 14px;
    word-break: break-all;
}
.tag-wrap{
    margin: 30px 0 10px;
    padding: 0 15px;
}
.tag-wrap .tag-list{
    list-style: none;
    font-size: 0px;
}

.tag-wrap .tag-list li{
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
}

.tag-wrap .tag-list li a{
    color: #999;
}

.author-action-wrap{
    margin: 10px 20px;
    padding: 10px 2px;
    border-top: .5px solid #eee;
    border-bottom: .5px solid #eee; 
}

.author-action-wrap .send-memo{
    line-height: 1.56;
    font-size: 14px;
    color: #444;
}
.author-action-wrap .recent-post{
    margin-top: 10px;
    line-height: 1.5;
    list-style: none;
}
.author-action-wrap .recent-post .more{
    color: gray;
}
.author-action-wrap .recent-post li .time{
    float: right;
    color: gray;
    margin-left: 20px;
}

.panel .comment-wrap{
    font-size: 14px;
    line-height: 1.6;
}
.panel .comment-wrap .comment-list{
    list-style: none;
}
.panel .comment-wrap .comment-list>li{
    display: block;
    position: relative;
}
.panel .comment-wrap .comment-list>li .comment-box{
    padding: 10px 15px 10px 65px;
}
.panel .comment-wrap .comment-list>li .depth{
    position: relative;
    margin-left: 0px;
}
.panel .comment-wrap .comment-list>li .depth .global-avatar-wrap{
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 40px;
}
.panel .comment-wrap .comment-list>li:nth-child(2n) {
    background-color: #f7f9fa;
}
.panel .comment-wrap .comment-list>li .meta-wrap{
    color: gray;
}
.panel .comment-wrap .comment-list>li .depth .comment-content{
    margin: 8px 0;
    word-break: keep-all;
    word-wrap: break-word;
}
.panel .comment-wrap .comment-list>li .depth .comment-action{
    font-size: 0px;
}
.panel .comment-wrap .comment-list>li .depth .comment-action a{
    font-size: 14px;
    color: #444;
}
.panel .comment-wrap .comment-list>li .depth .comment-action a .count{
    font-weight: 700;
}
.comment-wrap .comment-list>li .depth .comment-action a:after {
    color: #999;
    content: "\B7";
    margin: 0 4px;
}
.comment-wrap .comment-list>li .depth .comment-action a:last-child:after {
    content: "";
}

.post-list li .list-text .title {
    color: #444;
    font-size: 14px;
    font-weight: 700;
}

.layout-board-list .post-list{
    list-style: none;
    line-height: 20px;
}
.layout-board-list .post-list li.notice{
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
}

.layout-board-list .post-list li.notice .list-text{
    margin-left: 0;
}

.layout-board-list .post-list li.notice .list-text .title{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
}
.layout-board-list .post-list li.notice .list-text .tag{
    font-weight: 700;
    color: #495baa;
}

.layout-board-list .post-list li .author{
    float: right;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
.layout-board-list .post-list li .author .author-text{
    width: auto;
    padding-left: 10px;
}