html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
form{
    display: inline;
}

ol,ul{
    list-style: none;
}
.wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

.global-top {
    background-color: white;
    top: 70px;
    left: 0;
    right: 0;
    min-width: 1280;
    z-index: 500;
}

.global-top .header{
    background-color: white;
    border-bottom: 2px solid #FFEB46;
    padding-bottom: 20px;
}

.global-top .header .top-menu-wrap .right-menu{
    float: right;
    text-align: right;
    margin-left: 15px;
    font-size: 0px;
}
.global-top .header .top-menu-wrap .right-menu li{
    display: inline-block;
}
.global-top .header .top-menu-wrap .right-menu li:after{
    display: inline-block;
    content: "|";
    padding: 0 8px;
    font-size: 12px;
    color: #eee;
}
.global-top .header .top-menu-wrap .right-menu li:last-child:after {
    content: "";
}

.global-top .header .top-menu-wrap .right-menu li a{
    font-size: 12px;
    line-height: 40px;
    color: black;
}


.global-top .header .top-menu-wrap .left-menu{
    float: right;
    line-height: 30px;
}
.global-top .header .top-menu-wrap .left-menu span {
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-right: 10px;
}

.global-top .header .top-menu-wrap:after, .global-top .header:after{
    content: "";
    display: block;
    clear: both;
}

.global-top .header .logo-wrap{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.global-top .header .logo-wrap a{
    display: block;
}

.global-top .header .logo-wrap a img{
    width: 190px;
}

.global-top .header .search-wrap{
    position: absolute;
    bottom: 10px;
    left: 240px;
    width: 240px;
}

.global-top .header .search-wrap .search{
    position: relative;
    border: 1px solid #eee;
}
.global-top .header .search-wrap .search .fa{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #495baa;
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
    line-height: 34px;
}

.global-top .header .search-wrap .search .search-input{
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 8px 40px 8px 16px;
    height: 32px;
    font-size: 14px;
    color: black;
}

.global-top .header .header-menu-bar{
    list-style: none;
    float: right;
    overflow: hidden;
    height: 40px;
    font-size: 0px;
}

.global-top .header .header-menu-bar li{
    display: inline-block;
}

.global-top .header .header-menu-bar li a{
    display: block;
    padding: 12px 6px;
    font-size: 15px;
    font-weight: 900;
    color: black;
    letter-spacing: -1px;
}

.footer{
    text-align: center;
    background-color: #111a23;
    color: white;
    padding: 40px 20px;
}

.footer .w1000{
    font-size: 11px;
    width: 1000px;
    margin: 0 auto;
}
.footer .links{
    margin-bottom: 20px;
}

.footer .links dt{
    text-align: left;
    display: inline-block;
}

.footer .links dt a{
    display: block;
    color: #999;
    padding: 0 20px;
}
.footer .links dt a h5{
    color: #ddd;
    font-size: 12px;
    font-weight: 400;
}
.footer .footer-menu{
    list-style: none;
    margin-bottom: 20px;
}
.footer .footer-menu li{
    font-size: 12px;
    display: inline-block;
}
.footer .footer-menu li a{
    display: inline-block;
    padding: 4px 0;
    color: #ccc;
}

.footer .footer-menu li a:after{
    content: "|";
    padding: 0 6px;
    color: #666;
}
.footer .footer-menu li a:after:last-child {
    content: "";
}
.footer .company-info{
    color: #bbb;
    line-height: 1.5;
    margin-bottom: 10px;
}

.global-body{
    margin-top: 20px;
}

.wrap{
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-member-join h2{
    background-color: #202222;
    font-weight: 500;
    font-size: 13pt;
    color: white;
    padding: 19px 33px;
    margin-bottom: 20px;
    cursor: pointer;
}
.page-member-join h2 a{
    float: right;
    font-size: 15px;
    font-weight: normal;
    color: #c4c4c4;
}
.page-member-join .box{
    padding: 40px 55px 55px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.page-member-join .box h3{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 42px;
}


.page-member-join .agreement ul>li{
    vertical-align: top;
    display: inline-block;
    margin: 0 20px 20px 0;
    widows: calc(50% + 0px - 10px);
}

.page-member-join .agreement ul>li:nth-child(2n+1){
    margin-left: 0px;
}

.page-member-join .agreement ul li div{
    padding: 20px;
    font-size: 13px;
    overflow: auto;
    height: 220px;
    text-align: left;
    line-height:  140%;
    border: 1px solid #c4c4c4;
    background-color: white;
}