body{
    position: relative;
    text-size-adjust: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    
}

col{
    display: table-column;
}
colgroup{
    display: table-column-group;
}

div{
    display: block;
}

form {
    display: block;
    
}
strong {
    font-weight: 500;
}
table{
    background-color: transparent;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

p {
    margin: 0 0 10px;
}

.layout-login, .layout-register{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-login .bg, .layout-register .bg{
    position: relative;
    background: linear-gradient(135deg, #688fed 0%, #475ca9 45%, #688fed 100%);
    padding: 40px 20px 60px;
}

.layout-register .bg h1{
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 20px 0;
    word-break: keep-all;
    word-wrap: break-word;
}


.container{
    position: relative;
    width: 768;
    min-width: 600;
    margin: 0 auto;
}
.join-content{
    width: 800px !important;
    margin: 0 auto !important;
}
.join-form{
    
}

.terms{
    margin-bottom: 20px;
    border: solid 1px #dadada;
    background-color: white;
    padding-left: 15px;
    padding-right:30px;
}

.form-title{
    width: 80%
    font-size: 16px;
    color: black;
    font-weight: 500;
    letter-spacing: -0.2px;
    padding: 12px 0;
    margin 10px 0;
    border-bottom: 1px solid #ccc;
}

.form-terms{
    width: 100;
    height: 145px;
    overflow-y: auto;
    padding: 10px 15px;
    background-color: #f0f0f0;
    font-size: 14px;
}
.form-terms .terms-style .open{
    width: 100;
    height: 600px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    font-size: 14px;
}
.form-terms.open{
    height: 600px;
}
.terms-style{
    line-height: 1.4;
}

.terms-style h3{
    margin: 20px 0 10px;
    color: black;
    font-weight: normal;
    font-size: 15px;
}

.form-agree{
    text-align: right;
    color: #516B82;
    padding: 15px 0;
}
label span.checkbox{
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    left: 0;
    background-color: #F1F1F1;
    border: 1px solid #ccc;
}

label span.checkbox:after{
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 2px solid #666;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: .15;
    transform: rotate(-45deg);
}

.form-table{
    overflow-x: auto;
    width: 100%;
    font-size: 13px;
}
.form-table table{
    width: 100%;
}
.form-table table.fix{
    margin: 0 0 15px 0;
}

.form-table th, .form-table td{
    border: 1px solid #ddd;
    padding: 7px 15px;
}

.form-table th{
    background-color: #f1f1f1;
    text-align:left;
}
.form-table td.left{
    text-align-last: left;
}
.terms-style ul.b{
    list-style-type: disc;
    margin-bottom: 20px;
}
.terms-style ul li{
    margin: 5px 0;
    font-size: 13px;
}
.terms_style p {
    color: #666;
    font-size: 13px;
    text-align: justify;
}

.form-button{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 15px 0;
    border-top: 1px solid #666;
}

.form-button .button-agree{
    background-color: #688fed;
        font-size: 16px;
    color: #fff;
    margin: 0 3px;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.1);
}
.form-button .button-cancel{
    background-color: white;
        font-size: 16px;
    color: balck;
    margin: 0 3px;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.1);
}
.form-open{
    display: block;
    widows: 100%;
    font-size: 11px;
    color: #999;
    text-align:center;
    padding: 5px 15px;
    border: 1px solid #f1f1f1;
}
.form-open:before{
    content: "";
    font-size: 12px;
    margin: 0 3px 0 0;
}
.form-open:after{
    content: "펼치기";
}
.form-open:hover{
    cursor: pointer;
}
.open{
    height: auto;
}
.close{
    
}
.form-open.close:after{
    content: "접기";
}
.register-tapmenu{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
    border-bottom: 1px solid #666;
}
.register-tapmenu .register-tap{
    width: 25%;
    font-size: 14px;
    color: #999;
    text-align: center;
    padding: 15px 0; 
}
.register-tapmenu .register-tap span{
    font-size: 12px;
    opacity: .7;
    padding: 0 5px 0 0;
}
.register-tapmenu .register-tap.current{
    color: #fff;
    background-color: #666;
}
.form-title .title-tiny{
    position: relative;
    top: -1px;
    font-size: 12px;
    color: #FF5722;
    padding: 0 0 0 5px;
}
.form{
    padding: 20px 10px;
    border: 1px solid #ddd;
}
.form.topline{
    border-top: 0;
}
table{
    background-color: transparent;
    border-collapse: collapse;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
form{
    display: block;
    margin-top: 0em;
}
.form table{
    width: 100%;
}
.form th, .form td {
    color: #333;
    vertical-align: top;
}
.form th {
    width: auto;
    height: 50px;
    font-weight: 500;
    text-align: right;
    padding: 9px 10px;
}
.form td {
    width: auto;
    text-align: left;
    padding: 0 0 10px;
}
.form input[type="text"], .form input[type="password"], .form input[type="tel"], .form input[type="email"], .form input[type="url"], .form input[type="search"] {
    width: 100%;
    max-width: 200px;
    color: #333;
    padding: 7px 10px;
}
.tip{
    display: block;
    font-size: 12px;
    color: #D43F3A;
    line-height: 1.4;
    margin: 10px 0 15px;
}
.form .tip{
    color: #999;
}